<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Bike Rental Service</h1>
    <form method = "POST">
        <div>
        <label for="" style="font-family:verdana; font-size:100% ;font-style:bold;  ">Model</label>
        <input type="text" placeholder="e.g Ducati" name="model">
        </div>

        <div>
        <label for="" style="font-family:verdana; font-size:100% ;font-style:bold; ">Daily fee(VND)</label>
        <input type="text" placeholder="1000000" name="dailyfee(VND)">
        </div>

        <div>
        <label for="" style="font-family:verdana; font-size:100% ;font-style: bold;">Image</label>
        <input type="text" placeholder="e.g https://images.ctfassets.net/x7j9qwvpvr5s/68QJSfINoWUk64YiGmowkM/207cc7e566f70eadd1d4bb61ae2e0d49/Monster-797-Studio-MY19-08-Gallery-1920x1080.jpg" name="image">
        </div>

        <div>
        <label for="" style="font-family:verdana; font-size:100% ;font-style: bold;">Year</label>
        <input type="text" placeholder="e.g 2013" name="year">
        </div>
        <button style="font-family:Geneva; color: navy; font-size: 150%;">submit</button>
    </form>
</body>
</html>