<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="color=blue ; border:2px solid Tomato; text-align:center " >ADD FOOD</h1>
    <form method = "POST">
        <div>
            <label for="" style="font-family:Cambria; color:salmon; font-size:300%">Name</label>
            <input type="text" name = "name">
        </div> 
        <div>
            <label for="" style="font-family:Cambria; color:salmon; font-size:300%">Price</label>
            <input type="number" name = "price">
        </div>
        <button style="font-size:200%; color:slateblue">Submit</button>
    </form>
</body>
</html>